

html{
    scroll-behavior: smooth  ;
    
    }
    


.card {

    margin-left: 2.5cm;
    }
    .logo{
        margin-left: -0.2cm;
        width: 250px;
        opacity: 0; /* Initially hide the text */
        animation: fade-in 1s ease-in-out forwards;
    }
    @keyframes fade-in {
        from { opacity: 0; }
        to { opacity: 1; }
      }
      
      #we {
        color: aliceblue;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 50px;
        opacity: 0;
        transform: translateY(-50px);
        animation: fadeIn 1s ease-in-out forwards;
        animation-fill-mode: forwards;
      }
      
      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateY(-50px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
      #wf {
        color: aliceblue;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 20px;
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;
        animation-delay: 0.8s; /* Add a delay of 0.5 seconds */
      }
      
      
    
      .menu {
        float: right;
        margin-right: 9%;
        margin-top: -9.5cm;
        opacity: 0;
        animation: bounceIn 1s ease-in-out forwards;
        animation-delay: 1.2s; /* Add a delay of 1 second */
      }
      
      @keyframes bounceIn {
        0% {
          opacity: 0;
          transform: scale(0.1);
        }
        60% {
          opacity: 1;
          transform: scale(1.2);
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
      
      .list {
        list-style-type: none;
        text-align: right;
      }
      
      .list li {
        line-height: 2;
        font-family: 'Raleway', sans-serif;
        direction: rtl;
        font-size: 20px;
        transition: all 0.3s ease; /* Add transition for font-size and color change */
      }
      
      .list li a {
        text-decoration: none;
        color: aliceblue;
      }
      
      .list li:hover {
        font-size: 22px; /* Increase the font size on hover */
        color: aquamarine; /* Change the color on hover */
      }
      
      .list li:hover a {
        color: aquamarine; /* Change the color on hover */
      }
      
    
      .hr1 {
        height: 2px;
        width: 8cm;
        margin-right: -5%;
        background-color: #ffffff;
        margin-top: -16%;
        float: right;
        border: none;
        rotate: 90deg;
      }
      .arrow {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 1cm;
        margin-bottom: 0.5cm;
        border-radius: 60px;
        border: 3px solid aquamarine;
        background-color: rgba(127, 255, 212, 0.3); /* Set the initial background color with lower opacity */
        transition: background-color 0.3s ease; /* Add transition for background color change */
      }
      
      .arrow:hover {
        background-color: aquamarine; /* Change the background color on hover */
      }
      
      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        margin-left: -8px;
     z-index: -1;
      }
/* parallax */
/*
section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#06003e, transparent);
  z-index: 1000;
}
section img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
*/